.HeadP{
	color: #339966;
	font-size:24px;
	border-bottom: 1px solid #339966;
}
body{
	font-family: Arial;
}
p{
	color: #003366;
	font-size: 16px;
}
.BilderRow{
	margin-right:5px;
	height:110px;
}
.TextBallon{
	margin-bottom:0px;
}
.TextKirchen{
	margin-bottom:0px;
}
.TextBootsfahrt{
	margin-bottom:0px;
}
.TextTour{
	margin-bottom:0px;
}